html,body {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
}

.container {
	min-width: 320px;
	padding: 0 10px;
	box-sizing: border-box;
  
	@media (min-width: 481px) and (max-width: 992px) {
	  width: 100%;
	}
  
	@media (min-width: 993px) {
	  overflow: hidden;
	  max-width: 1200px;
	  margin: 0 auto;
	}
  }